<div class="logo">DISK HUNTER</div>
<nav class="menu">
    <a href="index.html" class="menu-item" id="nav-index">Disk Overview</a>
    
    <a href="shredding.html" class="menu-item" id="nav-shredding">Disk Shredding</a>
    <a href="history.html" class="menu-item submenu-item" id="nav-history">↳ Audit Logs & PDFs</a>
    
    <a href="smartctl.html" class="menu-item" id="nav-smartctl">SMART Testing</a>
    <a href="smart_history.html" class="menu-item submenu-item" id="nav-smart-history">↳ Test History</a>
    <a href="network-share.html" class="menu-item" id="nav-network-share">Network Share</a>
    <a href="partition.html" class="menu-item" id="nav-partition">Partition Editor</a>
    <a href="speedtest.html" class="menu-item" id="nav-speedtest">Drive Speed Test</a>
    <a href="iso.html" class="menu-item" id="nav-iso">ISO Downloader & Writer</a>
    
    <div class="menu-spacer"></div>
    
    <a href="settings.html" class="menu-item" id="nav-settings">Settings</a>
</nav>
