<div class="logo">DISK HUNTER</div>
<nav class="menu">
    <a href="index.html" class="menu-item" id="nav-index" data-i18n="nav_overview">Disk Overview</a>
    
    <a href="shredding.html" class="menu-item" id="nav-shredding" data-i18n="nav_shredding">Disk Shredding</a>
    <a href="history.html" class="menu-item submenu-item" id="nav-history" data-i18n="nav_audit_logs">↳ Audit Logs & PDFs</a>
    
    <a href="smartctl.html" class="menu-item" id="nav-smartctl" data-i18n="nav_smartctl">SMART Testing</a>
    <a href="smart_history.html" class="menu-item submenu-item" id="nav-smart-history" data-i18n="nav_smart_history">↳ Test History</a>
    <a href="network-share.html" class="menu-item" id="nav-network-share" data-i18n="nav_network_share">Network Share</a>
    <a href="partition.html" class="menu-item" id="nav-partition" data-i18n="nav_partition">Partition Editor</a>
    <a href="partition_history.html" class="menu-item submenu-item" id="nav-partition-history" data-i18n="nav_partition_history">↳ Action History</a>
    <a href="speedtest.html" class="menu-item" id="nav-speedtest" data-i18n="nav_speedtest">Drive Speed Test</a>
    <a href="speedtest_history.html" class="menu-item submenu-item" id="nav-speedtest-history" data-i18n="nav_speedtest_history">↳ Test History</a>
    <a href="iso.html" class="menu-item" id="nav-iso" data-i18n="nav_iso">ISO Downloader & Writer</a>
    <a href="iso_history.html" class="menu-item submenu-item" id="nav-iso-history" data-i18n="nav_iso_history">↳ Action History</a>
    
    <div class="menu-spacer"></div>
    
    <a href="data-management.html" class="menu-item" id="nav-data-management" data-i18n="nav_data_management">Data Management</a>
    <a href="settings.html" class="menu-item" id="nav-settings" data-i18n="nav_settings">Settings</a>
</nav>
