<div class="logo">Disk Hunter</div>
<div class="menu">
    <a href="index.html" class="menu-item">Disk Overview</a>
    <a href="shredding.html" class="menu-item">Disk Shredding</a>
    <a href="smartctl.html" class="menu-item">SMART Testing</a>
    <a href="network-share.html" class="menu-item">Network Share</a>
    <a href="partition.html" class="menu-item">Partition Editor</a>
    <a href="speedtest.html" class="menu-item">Drive Speed Test</a>
    <a href="iso.html" class="menu-item">ISO Downloader & Writer</a>
    <div style="flex: 1;"></div>
    <a href="settings.html" class="menu-item">Settings</a>
</div>